<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/cloud-ico.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p> This site was creates by Hyller Bandeira Dutra, as a way to learn Node.js Development.</p>
            <p> This application consumes <a href="https://darksky.net/dev">DarkSky's</a> and <a href="https://docs.mapbox.com/api/">Mapbox's</a> APIs.</p>
        </div>

        {{>footer}}
    </body>
        <script src="/js/app.js"></script>
</html>